{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/docs.min.css" %}" rel="stylesheet">
	<link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
	<script src="{% static "external/jquery/jquery.js" %}"></script>
	<script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>

	<script>
		$(document).ready(function () {
			$(".active").removeClass("active");
		 });
	</script>

	<title>Salidas DCC</title>
</head>

<body>
<div class="container-fluid">

	{%  include "Navbar/navbar_teacher.html" %}

	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
			<div class="row">
				<div class="pannel panel-primary panel-body">

					<h2>Detalle de solicitud</h2>
					<br>
					<table class="table">
						<tr>
							<td>Profesor</td>
							<td>{{ profesor }}</td>
						</tr>
						<tr>
							<td>Rut</td>
							<td>{{ profesor.rut }}</td>
						</tr>
                        <tr>
                            <td>Jerarquía</td>
                            <td>{{ profesor.hierarchy }}</td>
                        </tr>
                        <tr>
                            <td>Jornada</td>
                            <td>{{ profesor.working_day }}</td>
                        </tr>
						<tr>
							<td>Tipo de comisi&oacute;n</td>
							<td>{{ comm_type }}</td>
						</tr>
						<tr>
							<td>Motivo</td>
							<td>{{ app.motive }}<td>
						</tr>
						<tr>
							<td>Financiamiento</td>
							<td>{{ app.financed_by }}</td>
						</tr>

						<tr>
							<td>Destino(s)</td>
							<td>
								<table class="table">
									<tr>
										<th> Ciudad, País</th>
										<th> Fecha Inicio</th>
										<th> Fecha Término</th>
									</tr>
									{% for d in dest %}
										<tr>
											<td>{{ d.city }}, {{ d.country }}</td>
											<td>{{ d.start_date }}</td>
											<td>{{ d.end_date }}</td>
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>

						<tr>
							<td>Monto(s)</td>
							<td>
								<table class="table">
									<tr>
                                        <th>¿Financia DCC?</th>
										<th>Montos</th>
										<th>Cantidad</th>
										<th>Moneda</th>
									</tr>
									{% for fin in finances %}
									<tr>
                                        {% if fin.financed_by_dcc %}
                                            <td><span style="left:20%;color:rgba(26, 206, 26, 1)" class="glyphicon glyphicon-ok"></span></td>
                                        {% else %}
                                             <td><span style="color:red;left:20%" class="glyphicon glyphicon-remove"></span></td>
                                        {% endif %}
										<td>{{ fin.get_finance_type }}</td>
										<td>{{ fin.amount }}</td>
										<td>{{ fin.id_currency }}</td>
									</tr>
									{% endfor %}
								</table>
							</td>
						</tr>

						<tr>
							<td>Profesor reemplazante</td>
							<td>
								<table class="table">
									<tr>
										<th> Tipo de Reemplazo</th>
										<th> Profesor</th>
										<th> Estado</th>
									</tr>
									{% for replacement in replacements %}
										<tr>
											<td>{{ replacement.type }}</td>
											<td>{{ replacement.rut_teacher }}</td>
											<td>{{ replacement.id_state }}</td>
										</tr>
									{% endfor %}
								</table>
							</td>
						</tr>
						<tr>
							<td>Director a cargo</td>
							<td>{{ app.directors_name }}</td>
						</tr>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

</body>
</html>
