{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "public/css/docs.min.css" %}" rel="stylesheet">
	<link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
	<script src="{% static "external/jquery/jquery.js" %}"></script>
	<script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>

	<title>Salidas DCC</title>

	<script>
		$(document).ready(function () {
			$(".active").removeClass("active");
			$("#5").addClass("active");
		});
	</script>

</head>

<body>
<div class="container-fluid">

	{% include "Navbar/navbar_teacher.html" %}

	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
			<div class="row">
				<div class="pannel panel-primary panel-body">

					<h2>Mis datos</h2>
					<br>

					<!-- My current information -->
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<span class="glyphicon glyphicon-user"></span> Datos actuales
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="form-group">
											<div class="col-sm-8">
												<table class="table">
													<tr>
														<th>Nombre</th>
														<td>{{ teacher }}</td>
													</tr>
													<tr>
														<th>Rut</th>
														<td>{{ teacher.rut }}</td>
													</tr>
													<tr>
														<th>E-mail</th>
														<td>{{ teacher.mail }}</td>
													</tr>
													<tr>
														<th>Jornada</th>
														<td>{{ teacher.working_day }}</td>
													</tr>
													<tr>
														<th>Firma digitalizada</th>
														<td>
															{% if teacher.signature == "" %}
																No ha subido ninguna firma.
															{% else %}
																<img src="{{ teacher.signature.url }}" alt="Firma digitalizada actual del profesor {{ teacher }}.">
															{% endif %}
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Update my information -->
					<form method="POST" enctype="multipart/form-data" action=""> {% csrf_token %}
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-{% if teacher.mail == None or teacher.signature == "" %}danger{% else %}default{% endif %}">
									<div class="panel-heading">
										<span class="glyphicon glyphicon-cog"></span> Actualizar datos
										<p style="float: right"><a title="- Ingrese su dirección de correo electrónico.&#013;- Seleccione su tipo de jornada.&#013;- Seleccione una firma a utilizar para los documentos, esta debe estar en formato 'jpg' o 'png' y pesar menos de 1[MB]." class="masterTooltip col-sm-2"><b>Ayuda</b></a></p>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="form-group">
												<div class="col-sm-8">

													<!-- E-mail -->
													<div class="col-sm-12">
														<label class="control-label col-sm-5" for="nombre">Email <label style="color:red">*</label></label>
														<div class="col-sm-5">
															{{ form.email }}
														</div>
													</div>
													{{ form.email.errors }}
													<!-- Jornada -->
													<div class="col-sm-12">
														<label class="control-label col-sm-5" for="nombre">Tipo de Jornada <label style="color:red">*</label></label>
														<div class="col-sm-5">
															{{ form.jornada }}
														</div>
													</div>
													{{ form.jornada.errors }}
													<!-- Firma digitalizada -->
													<div class="col-sm-12">
														<label class="control-label col-sm-5" for="nombre">Firma digitalizada <label style="color:red">*</label></label>
														<div class="col-sm-5">
															{{ signature.sign }}
														</div>
													</div>
 													{{ form.email.errors }}  <!-- walk arround {{ signature.sign.errors }} -->
												</div>
											</div>
										</div>
									</div>

								</div>
								<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) no pueden estar vacíos al momento de enviar una solicitud.</p>
							</div>
						</div>
						<br>

						<!-- Boton enviar solicitud -->
						<div class="row">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="submit" class="btn btn-lg btn-primary" value="Actualizar información"/>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
