{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "public/css/docs.min.css" %}" rel="stylesheet">
    <link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "public/css/datepicker.css" %}" rel="stylesheet">
    <script src="{% static "js/countries.js" %}"></script>
    <script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "external/jquery/jquery.js" %}"></script>
    <script src="{% static "public/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/filestyle.js" %}"></script>
    <script src="{% static "public/js/bootstrap-datepicker.js" %}"></script>

	<script>
	$(document).ready(function() {
		$(".active").removeClass("active");
		$("#2").addClass("active");
	});
	</script>

    <title>Salidas DCC</title>
</head>

<body>
<div class="container-fluid">

    {%  include "Navbar/navbar_teacher.html" %}

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
            <div class="pannel panel-primary panel-body">

                <h2>Nueva Solicitud de Salida</h2>
                <br>

                <!-- For message to user -->
                {% if messages %}
                    <div class="row">
                        <div class="col-sm-12">
                            {% for message in messages %}
                                <p {% if message.tags == "error" %} class="alert alert-danger text-center"{% endif %}> {{ message }} </p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <!-- THE FORM -->
                <form method="POST" enctype="multipart/form-data" action="{% url 'new_application' %}"> {% csrf_token %}

                <!-- Informacion del viaje: tipo de comision -->
                <div class="row">
					<div class="col-sm-12">
                    	<div class="panel panel-default">
                            <div class="panel-heading">
								<span class="glyphicon glyphicon-leaf"></span> Comisión
                                <p style="float: right; cursor: pointer;" class="col-sm-2" onclick="alert('Tipo de comisión: Seleccione el tipo de comisión.\n\n' +
                                 																			'- Académica: La universidad podrá otorgar comisiones académicas para los siguientes casos:\n\t' +
                                 																			 	'a) Presentación de trabajos y/o participación de eventos científicos, literarios o artísticos,\n\t' +
                                 																			 	'b) concurrencia a universidades u otras instituciones similares, nacionales o extranjeras, en representación de la Universidad, Facultad o Instituto correspondiente,\n\t' +
                                 																			 	'c) actualización o complementación de conocimientos y/o realización de trabajos de investigación o creación artística y de redacción de obras, sea en forma individual o en algún organismo nacional, internacional o extranjero.\n\n' +
                                 																			'- Estudio: Son aquellas que tienen por objeto: \n\t' +
                                 																				'a) La realización de estudios conducentes a la obtención de grados de Magister o Doctor en universidades nacionales o extranjeras;\n\t' +
                                 																				'b) La actualización o complementación de conocimientos por períodos superiores a 60 días y;\n\t' +
                                 																				'c) La realización de trabajos de investigación o creación artística y de redacción de obras, sea en forma individual o en algún organismo nacional, internacional o extranjero, por períodos que excedan de 60 días.\n\n' +
                                 																			'- Servicio: Tiene por objetivo el desempeño de labores no habituales a su cargo, a realizarse dentro o fuera del ámbito universitario, y para las cuales el académico posea conocimientos que le permitan realizarla en forma adecuada.' +
                                 																				'El cometido funcionario, tiene por objeto el desempeño de labores habituales del cargo del académico, dentro o fuera de la Universidad.');"><b>Ayuda</b></p>
							</div>

                            <div class="panel-body">
                                <label class="control-label col-sm-4" style="top:6px" for="nombre">Tipo de comisión <label style="color:red">*</label></label>
                                <div class="col-sm-6">
                                    {{ application.id_commission_type }}
                                </div>
                            </div>
                    	</div>
                    </div>
                </div>
                <br>

                <!-- Montos -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
								<span class="glyphicon glyphicon-usd"></span> Montos
                                <p style="float: right; cursor: pointer;" class="col-sm-2" onclick="alert('Indique si el DCC financia los siguientes tipos de gastos, marcando el casillero (checkbox) en caso positivo, en caso contrario deje sin marcar.\nNo es necesario ingresar información sobre montos no financiados por el DCC.');"><b>Ayuda</b></p>
							</div>

                            <div class="panel-body">
                                {{ financeFormSet.management_form }}
                                {% for form in financeFormSet %}
                                    {{ form.id }}
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="finance_item">
                                                <div class="col-sm-12">
                                                    <div class="col-sm-7">
                                                        <label class="col-sm-3 control-label" align="left">
                                                            {% cycle "Inscripción" "Pasaje" "Viático" as row_cycle%}
                                                        </label>
                                                        <div class="col-sm-5 input-group-sm">
                                                            {{ form.amount }}
                                                        </div>
                                                        <div class="col-sm-4">
                                                            {{ form.id_currency }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2" style="top: 6px;">
                                                        <label class="control-label" align="right" >Financiado con:</label>
                                                    </div>
                                                   <div class="col-sm-3 input-group">
                                                            {{ form.financed_by }}
                                                   </div>
                                                    <div class="col-sm-2" style="color:red;display: none;" id="alarma_{% cycle "I" "P" "V" %}">
                                                        <p>*Debe ingresar monto y tipo de moneda</p>
                                                    </div>
                                                    {% if row_cycle != 'Viático' %}
                                                       <hr>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Destinos -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
								<span class="glyphicon glyphicon-plane"></span> Destinos
                                <p style="float: right; cursor: pointer;" class="col-sm-2" onclick="alert('Seleccione el o los destinos de su viaje, indicando fechas de comienzo y término para cada destino, contadas desde mismo día en que viaja hasta el día en que viaja al siguiente destino.');"><b>Ayuda</b></p>
							</div>

                            <div class="panel-body">
                                <div id="destination_form">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                {{ destinations.management_form }}
                                                {% for destination in destinations %}
                                                    <div class="item">
                                                        <div class="col-sm-12">
                                                            <label class="col-sm-2 control-label">Destino</label>
                                                            <p class="col-sm-2">País <label style="color:red">*</label></p>
                                                            <div class="col-sm-6">
                                                                {{ destination.country }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                             <br/>
                                                            <label class="col-sm-2 control-label"></label>
                                                            <p class="col-sm-2">Ciudad <label style="color:red">*</label> </p>
                                                            <div class="col-sm-6">
                                                                {{ destination.city }}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <br>
                                                            <label class="control-label col-sm-3" for="nombre">Fecha de Inicio <label style="color:red">*</label></label>
                                                            {{ destination.start_date }}
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <br>
                                                            <label class="control-label col-sm-3" for="nombre">Fecha de Término <label style="color:red">*</label></label>
                                                            {{ destination.end_date }}
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <br>
                                                            <label class="control-label col-sm-3" for="nombre">Actividad a realizar:  <label  style="color:red">* </label></label>
                                                                {{ destination.motive }}
                                                        </div>
                                                        <div align="right"><a class="delete" href="#">Borrar</a></div>
                                                        <hr>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <br/>

                                    <div class="row">
                                         <p id="warning_used_days" class="text-center" style="color:red" >
                                        </p>

                                        <div id="add_destination" class="col-sm-12" align="right">
                                            <button class="btn btn-info"><span class="glyphicon glyphicon-plus"></span></button>
                                            <label class="control-label">Agregar Destino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>


                <!-- Profesores reemplazantes -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
								<span class="glyphicon glyphicon-user"></span> Profesor(es) Reemplazante(s)
                                <p style="float: right; cursor: pointer;" class="col-sm-2" onclick="alert('- Reemplazo Docente: Seleccione al profesor que será su reemplazante para sus clases.\n- Reemplazo Académico: Seleccione al profesor que será su reemplazante para sus labores administrativas.');"><b>Ayuda</b></p>
							</div>
                            <div class="panel-body">

                                <!-- para cada curso -->
                                <div class="row">
                                    <div class="form-group" id="academicReplacement">
                                        <label class="col-sm-3 control-label">Reemplazo Docente <label style="color:red">*</label></label>
                                        <div class="col-sm-4">
                                            {{ executiveReplacement.repteachers }}
                                        </div>
                                        <div class="col-sm-5" style="display: none" id="topeHorario">
                                            <p class="text-danger">*Este profesor tiene tope de horario</p>
                                        </div>
                                        <div class="col-sm-5" style="display: none" id="docenciaCompartida">
                                            <p class="text-info">*Existe docencia compartida</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="form-group" id="executiveReplacement">
                                        <label class="col-sm-3 control-label">Reemplazo Académico <label style="color:red">*</label></label>
                                        <div class="col-sm-4">
                                            {{ academicReplacement.acteachers }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Adjuntar documentos -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
								<span class="glyphicon glyphicon-file"></span> Adjuntar documentos
                                <p style="float: right; cursor: pointer;" class="col-sm-2" onclick="alert('Adjuntar documentos relacionados con su viaje.\nPara tipo de comisión académica; paper, carta de invitación o carta de aceptación.\nEn caso de ser un tipo de comisión de servicio o de estudio adjuntar documentos de respaldo.');" onmouseover="" ><b>Ayuda</b></p>
							</div>

                            <div class="panel-body">
                                <!-- para cada documento -->
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-11">
                                            {{ documents.management_form }}
                                            {% for document in documents %}
                                                <div class="form-group itemDoc col-sm-12">
                                                    <div class="col-sm-5">
                                                        {{ document.file }}
                                                    </div>
                                                    <div class="col-sm-1">
                                                            <button type="button" class="deleteDoc close" aria-hidden="true" onclick="">×</button>
                                                    </div>
								                </div>
                                                <br/>
                                                <hr>
                                            {% endfor %}
                                            <div class="row" >
                                                <div class="col-sm-4">
                                                    <button class="btn btn-warning" id="add_documents"><span class="glyphicon glyphicon-plus"></span></button>
                                                    <label class="control-label">Agregar Documento</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- fin para cada documento -->

                            </div>
                        </div>
                    </div>
                </div>
                <br>

				<p class="text-right">Los campos marcados como (<label style="color:red">*</label>) son obligatorios</p>

                <!-- Boton enviar solicitud -->
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-7">
                            <input type="submit" class="btn btn-lg btn-primary" value="Enviar solicitud"/>
                        </div>
                    </div>
                </div>
                <label id="avaliable_days" hidden="true" >
                    {{ id_teacher.get_avaliable_days }}
                </label>
                </form>

           </div>
        </div>
    </div>
</div>
</body>



<!-- Javascripts -->

<!-- script para multi-form de montos -->
<script type="text/javascript">
    $(document).ready(function () {
        $( ".datepicker" ).datepicker();
        // Code adapted from http://djangosnippets.org/snippets/1389/
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+-)');
            var replacement = prefix + '-' + ndx + '-';
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function deleteForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.item').remove();

                var forms = $('.item'); // Get all the forms

                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
                // Validate dates
                count_avaliable_days(0);
            }
            else {
                alert("Debes agregar al menos un destino!");
            }
            return false;
        }

        function addForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            // You can only submit a maximum of 20 forms
            if (formCount < 20) {
                // Clone a form (without event handlers) from the first form
                var row = $(".item:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass('error');
                // Relabel/rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    if ($(this).attr('type') == 'text')
                        $(this).val('');
                });

                // Add an event handler for the delete item/form link
                $(row).find('.delete').click(function () {
                    count_avaliable_days(0);
                    return deleteForm(this, prefix);
                });
                citySelector = $(row).find('.city')[0];
                citySelector.options.length = 0;
                citySelector.options[0] = new Option("Seleccione Ciudad", "");
                // Update the total form count;
                $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
                $(".datepicker").datepicker();

            } // End if
            else {
                alert("Lo siento, no más de 20 destinos.");
            }
            return false;
        }

        // Register the click event handlers
        $("#add_destination").click(function () {
            return addForm(this, 'destinations');
        });

        $(".delete").click(function () {
            return deleteForm(this, 'destinations');
        });
    });
</script>

<!-- script para multi-form de archivos -->
<script type="text/javascript">
    $(document).ready(function () {
        function updateElementIndex2(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+-)');
            var replacement = prefix + '-' + ndx + '-';
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function deleteForm2(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.itemDoc').remove();

                var forms = $('.itemDoc'); // Get all the forms

                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        updateElementIndex2(this, prefix, i);
                    });
                }
            }
            else {
                alert("Debes agregar al menos un archivo!");
            }
            return false;
        }

        function addForm2(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

            // You can only submit a maximum of 20 forms
            if (formCount < 30) {
                // Clone a form (without event handlers) from the first form
                var row = $(".itemDoc:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".itemDoc:last").slideDown(300);

                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass('error');
                // Relabel/rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex2(this, prefix, formCount);
                    if ($(this).attr('type') == 'text')
                        $(this).val('');
                });

                // Add an event handler for the delete item/form link
                $(row).find('.deleteDoc').click(function () {
                    return deleteForm2(this, prefix);
                });
                // Update the total form count;
                $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);

            } // End if
            else {
                alert("Lo siento, no más de 30 archivos.");
            }
            return false;
        }

        // Register the click event handlers
        $("#add_documents").click(function () {
            return addForm2(this, 'documents');
        });

        $(".deleteDoc").click(function () {
            return deleteForm2(this, 'documents');
        });
        $(".delete").click(function() {
            count_avaliable_days(0);
        });
    });
</script>

<script language="javascript">
	print_country("id_destinations-0-country");
</script>
<script type="text/javascript">
        function  count_avaliable_days(date) {

            var avaliable_days=parseInt(document.getElementById("avaliable_days").innerHTML);

            var destCount = parseInt($('#id_destinations-TOTAL_FORMS').val());
            var count_days = 0;
            var sd = document.getElementById('id_destinations-' + 0 + '-start_date').value.split('/');
            var ed = document.getElementById('id_destinations-' + (destCount - 1) + '-end_date').value.split('/');

            var start_date = new Date(sd[1]+'/'+sd[0]+'/'+sd[2]);
            var end_date = new Date(ed[1]+'/'+ed[0]+'/'+ed[2]);
            var alert_msg = "";
            if (end_date!="Invalid Date" &&  start_date!="Invalid Date" && end_date < start_date) {
                if (destCount > 1)
                    document.getElementById("warning_used_days").innerHTML="Los destinos deben ordenarse cronológicamente.";
                else
                    document.getElementById("warning_used_days").innerHTML="La fecha de fin no puede ser menor a la fecha de inicio.    ";
                return;
            }
            else{
                var one_day=1000*60*60*24
                count_days+=Math.ceil((end_date-start_date)/one_day);
                if (count_days>avaliable_days)
                    alert_msg += "Usted tiene "+avaliable_days+" días disponibles y está pidiendo "+count_days+" días.<br>";

                if(end_date!="Invalid Date" &&  start_date!="Invalid Date" && start_date.getFullYear() != end_date.getFullYear())
                    alert_msg += "Las fechas de salida y llegada deben pertenecer al mismo año.<br>";
            }
            for (var i = 0; i < destCount - 1; i++) {
                var sd1=document.getElementById('id_destinations-' + i + '-start_date').value.split('/');
                var ed1=document.getElementById('id_destinations-' + i + '-end_date').value.split('/');
                var sd2=document.getElementById('id_destinations-' + (i + 1) + '-start_date').value.split('/');
                var ed2=document.getElementById('id_destinations-' + (i + 1) + '-end_date').value.split('/');
                var start_date1 = new Date(sd1[1]+'/'+sd1[0]+'/'+sd1[2]);
                var end_date1 = new Date(ed1[1]+'/'+ed1[0]+'/'+ed1[2]);
                var start_date2 = new Date(sd2[1]+'/'+sd2[0]+'/'+sd2[2]);
                var end_date2 = new Date(ed2[1]+'/'+ed2[0]+'/'+ed2[2]);
                if(start_date1 != "Invalid Date" && start_date2 != "Invalid Date" && end_date1 != "Invalid Date" && end_date2 != "Invalid Date") {
                    if(start_date1 > end_date2) {
                        alert_msg += "Los destinos deben ser agregados cronológicamente";
                    }
                    else {
                        if(end_date1 > start_date2)
                            alert_msg +="Las fechas de los destinos " + (i + 1) + " y " + (i + 2) + " no pueden superponerse."
                    }
                }

            }
            document.getElementById("warning_used_days").innerHTML=alert_msg;
            var x = 1;
        }
</script>
</html>
 