<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="../../static/public/css/bootstrap.min.css" rel="stylesheet">
<link href="../../static/public/css/docs.min.css" rel="stylesheet">
<link href="../../static/css/estilos.css" rel="stylesheet" type="text/css">
<link href="../../static/css/jquery-ui.min.css" rel="stylesheet" >
<script src="../../static/external/jquery/jquery.js"></script>
<script src="../../static/public/js/jquery-1.11.0.min.js"></script>
<script src="../../static/js/jquery-ui.min.js"></script>
<script src="../../static/js/countries.js"></script>

<title>Salidas DCC</title>

</head>

<body>

<div class="container-fluid">
    <div class="row hidden-print">
        <div class="col-md-12">
            <ul class="nav nav-justified">
                <!-- Aca colocar la barra de nevegacion correspondiente -->
                <li class="active"><a href="" title="">Formulario de solicitud de salidas</a></li>
                <li><a href="teacher_calendar" title="">Calendario</a></li>
                <li><a href="" title="">Logout</a></li>
                <!-- fin barra de nevegacion -->
            </ul>
        </div> <!-- end nav bar-->
    </div> <!-- end row-->
    
    <div class="row">
    
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
   		<!-- Aca colocar el contenido correspondiente -->

{#      <form action="new_application" enctype="multipart/form-data" method="post" accept-charset="utf-8" class="" role="form">#}
            <br/>

            <h1>Formulario de solicitud de salidas</h1>
            <br/>
            <form method="POST" action="{% url 'new_application' %}"> {% csrf_token %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Información de viaje</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <div  class="col-sm-12">
                                            <label class="control-label col-sm-7" for="nombre">Tipo de comisión</label>
                                            <div class="col-sm-5">
                                               {{ application.id_commission_type }}
                                           </div>
                                        </div>
                                        <div  class="col-sm-12">
                                            <br/>
                                            <label class="control-label col-sm-7" for="nombre">Motivo</label>
                                            <div class="col-sm-5">
                                               {{ application.motive }}
                                           </div>
                                        </div>
                                        <div  class="col-sm-12">
                                            <br/>
                                            <label class="control-label col-sm-7" for="nombre">Financiamiento</label>
                                            <div class="col-sm-5">
                                               {{ application.financed_by }}
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
{# <form action="new_application" enctype="multipart/form-data" method="post" accept-charset="utf-8" class="" role="form">#}
			<div class="row">
				<div class="col-sm-8">
					<div class="panel panel-primary">
						<div class="panel-heading"><span class="glyphicon glyphicon-plane"></span> Destinos</div>
					  	<div class="panel-body">
					    	<div id="destination_form" >
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {{ destinations.management_form }}
                                            {% for destination in destinations %}
                                            <div class="item">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 control-label">Destino</label>
                                                    <div class="col-sm-5">
                                                         <!--<select class="form-control input-sm" name="SelPais">
                                                        <option value="">Seleccione Pais</option>
                                                    </select>
                                                       -->
                                                         País
                                                         <select class="form-control input-sm" onchange="print_state('state',this.selectedIndex);updateCountryTxt(this);" id="country" name ="country">
                                                             <option value="">Seleccione Pais</option>
                                                         </select>
                                                        {{ destination.country }}
                                                    </div>
                                                    <div class="col-sm-5">
                                                         <!--<select class="form-control input-sm" name="SelCiudad">
                                                            <option value="">Seleccione Ciudad</option>
                                                        </select>-->
                                                         Ciudad
                                                        <select class="form-control input-sm" onchange="updateStateTxt()" name="state" id ="state">
                                                            <option value="">Seleccione Ciudad</option>
                                                        </select>
                                                        {{ destination.city }}

                                                        <script language="javascript">print_country("country");</script>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <br/>
                                                    <label class="control-label col-sm-4" for="nombre">Fecha de Inicio</label>
                                                    <div class="col-sm-5">
                                                    {{ destination.start_date }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <br/>
                                                    <label class="control-label col-sm-4" for="nombre">Fecha de Término</label>
                                                    <div class="col-sm-5">
                                                    {{ destination.end_date }}
                                                    </div>
                                                </div>
                                                 <div align="right"><a class="delete" href="#">Delete</a></div>
                                                <hr>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div id="add_destination" class="col-sm-12" align="right">
                                        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                                        <label class="control-label">Agregar Destino</label>
                                    </div>
                                </div>
                            </div>
					  	</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->

                <br>
            <div class="row">
				<div class="col-sm-8">
					<div class="panel panel-danger">
						<div class="panel-heading"><span class="glyphicon glyphicon-user"></span>  Profesor(es) Reemplazante</div>
					  	<div class="panel-body">

					  		<!-- para cada curso -->
					    	<div class="row">
								<div class="form-group" id="academicReplacement">
									<label class="col-sm-4 control-label">Reemplazo Académico</label>
				    				<div class="col-sm-4">
									     {{ academicReplacement.teachers }}
									</div>
									<div class="col-sm-5" style="display: none" id="topeHorario">
										<p class="text-danger">*Este profesor tiene tope de horario</p>
									</div>
									<div class="col-sm-5" style="display: none" id="docenciaCompartida">
										<p class="text-info">*Existe docencia compartida</p>
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada curso -->
							<!-- para cada curso -->
					    	<div class="row">
								<div class="form-group" id="executiveReplacement">
									<label class="col-sm-4 control-label">Reemplazo Administrativo</label>
				    				<div class="col-sm-4">
									    {{ executiveReplacement.teachers }}
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada curso -->
					  	</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->
			
			<br />
			<div class="row">
				<div class="col-sm-7">
					<div class="panel panel-success">
						<div class="panel-heading"><span class="glyphicon glyphicon-file"></span> Adjuntar documentos</div>
					  	<div class="panel-body">
					  	
					  		<!-- para cada documento -->
					    	<div class="row">
								<div class="form-group">
									<div class="col-sm-1">
										<button type="button" class="close" aria-hidden="true" onClick="">&times;</button>
									</div>
				    				<div class="col-sm-11">
									    <input type="file" class="filestyle" data-buttonName="btn-success" data-buttonText="Buscar archivo">
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada documento -->
							
						
							<!-- para cada documento -->
					    	<div class="row">
								<div class="form-group">
									<div class="col-sm-1">
										<button type="button" class="close" aria-hidden="true" onClick="">&times;</button>
									</div>
				    				<div class="col-sm-11">
									    <input type="file" class="filestyle" data-buttonName="btn-success" data-buttonText="Buscar archivo">
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada documento -->
							
							<div class="row">
								<div class="col-sm-4">
									<button class="btn btn-success"><span class="glyphicon glyphicon-plus"/></button>
								</div>
							</div>
					  	</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->
			
			<br />
			<div class="row">
				<div class="form-group">
					<label class="col-sm-2 control-label">Firma digitalizada</label>
    				<div class="col-sm-5">
    					<div class="checkbox">
	                    <label>
	                      <input type="checkbox" name="" value="" checked> Usar firma anterior
	                    </label>
	                    </div>
					     <input type="file" class="filestyle" data-input="false" data-iconName="glyphicon-inbox" data-buttonText="Buscar firma" data-buttonName="btn-danger">
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="form-group">
    				<div class="col-sm-7">
    					<input type="submit" class="btn btn-lg btn-primary" value="Enviar solicitud" />
					</div>
				</div>
			</div>
            </form>
			

		
		
		<!-- fin contenido -->
    </div><!-- end contenido-->
    </div><!-- end row-->
</div><!--end container-->
</body>
<script src="../../static/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/filestyle.js"> </script>
<script>
  $(function() {

    $("#city").filter(":selected").change(function() {
        var value = $(this).val();
        $(this).next().val(value);
  });
     $("#country").filter(":selected").change(function() {
         var value = $(this).val();
        $(this).next().val(value);
  });
  });
</script>
<script>
    function updateCountryTxt(select) {
        var country_name = document.getElementById("country").value;
        document.getElementById("id_form-0-country").value = country_name;
    }
    function updateStateTxt() {
        var state_name = document.getElementById("state").value;
        document.getElementById("id_form-0-city").value = state_name;
    }
</script>
<script type="text/javascript">
$(document).ready(function() {
  // Code adapted from http://djangosnippets.org/snippets/1389/

  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    if (formCount > 1) {
      // Delete the item/form
      $(btn).parents('.item').remove();

      var forms = $('.item'); // Get all the forms

      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          updateElementIndex(this, prefix, i);
        });
      }

    } // End if
    else {
        alert("Debes agregar al menos un destino!");
    }
    return false;
  }


  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    // You can only submit a maximum of 10 todo items
    if (formCount < 20) {
      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass('error');

      // Relabel/rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        if ( $(this).attr('type') == 'text' )
          $(this).val('');
      });

      // Add an event handler for the delete item/form link
      $(row).find('.delete').click(function() {
        return deleteForm(this, prefix);
      });

      // Update the total form count
      $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
      $( ".datepicker").datepicker();

    } // End if
    else {
      alert("Lo siento, no más de 20 destinos.");
    }
    return false;
  }

  // Register the click event handlers
  $("#add_destination").click(function() {
    return addForm(this, 'form');
  });

  $(".delete").click(function() {
    return deleteForm(this, 'form');
  });
});
</script>
</html>
 