<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../static/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/public/css/docs.min.css" rel="stylesheet">
    <link href="../../static/css/estilos.css" rel="stylesheet" type="text/css">
    <script src="../../static/public/js/jquery-1.11.0.min.js"></script>

    <title>Salidas DCC</title>

</head>

<body>

<div class="container-fluid">

    <!-- navegation bar -->
    <div class="row hidden-print">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li><a href="new_application" title="">Formulario de solicitud de salidas</a></li>
                <li><a href="teachers_applications">Mis solicitudes</a></li>
                <li class="active"><a href="replacement_requests">Solicitudes de remplazo</a></li>
                <li><a href="teacher_calendar" title="">Calendario</a></li>
                <li><a href="" title="">Logout</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">

            <!-- Aca colocar el contenido correspondiente -->
            <h2>Compromiso de reemplazo</h2>
            <br/>

            <div class="row">

                <div class="col-md-6">
                    <form>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Profesor a reemplazar</label>

                            <div class="col-sm-8">
                                XXXXX
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Fecha de inicio</label>

                            <div class="col-sm-8">
                                XXXXX
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Fecha de término</label>

                            <div class="col-sm-8">
                                XXXXX
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Curso(s) a reemplazar</label>

                            <div class="col-sm-8">
                                <table class="table table-bordered table-hover table-condensed table-striped">
                                    <tr>
                                        <td>CC3001</td>
                                    </tr>
                                    <tr>
                                        <td>CC3201</td>
                                    </tr>
                                    <tr>
                                        <td>CC4101</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Firma digitalizada</label>

                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="" value="" checked> Usar firma anterior
                                        </label>
                                    </div>
                                    <input type="file" class="filestyle" data-input="false" data-iconName="glyphicon-inbox" data-buttonText="Buscar firma" data-buttonName="btn-success">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-lg btn-primary" value="Aceptar"/>
                                <input type="submit" class="btn btn-lg btn-danger" value="Rechazar"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-6">
                    Acá colocar horario
                </div>
            </div>


            <!-- fin contenido -->
        </div>
        <!-- end contenido-->
    </div>
    <!-- end row-->
</div>
<!--end container-->
<script src="../../static/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/filestyle.js"></script>
</body>
</html>
 