{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "public/css/docs.min.css" %}" rel="stylesheet">
	<link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
	<script src="{% static "external/jquery/jquery.js" %}"></script>
	<script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>

	<title>Salidas DCC</title>
</head>
<body>

<div class="container-fluid">
	<!-- navegation bar -->
	{%  include "Navbar/navbar_teacher.html" %}

	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">

			<div class="pannel panel-primary panel-body">
				<h2>Solicitudes de Reemplazo</h2>
				<br>

				<table class="table">
					<tr>
						<th>Fecha Solicitud</th>
						<th>Profesor Solicitante</th>
						<th>Tipo de Reemplazo</th>
						<th>Estado</th>
						<th>Detalle</th>
					</tr>
					{% for rep in replacements %}
						<tr>
							<td>{{ rep.id_Application.creation_date }}</td>
							<td>{{ rep.get_appliant_teacher }}</td>
							<td>{{ rep.type }}</td>
							<td>{{ rep.id_state }}</td>
							<td><a href="replacement_requests?id={{ rep.id }}">Ver detalle </a></td>
						</tr>
					{% endfor %}
				</table>
			</div>

		</div>
	</div>
</div>
</body>
<script>
     $(document).ready(function () {
         $(".active").removeClass("active");
         $("#3").addClass("active");
     });
</script>
</html>