<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../static/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/public/css/docs.min.css" rel="stylesheet">
    <link href="../../static/css/estilos.css" rel="stylesheet" type="text/css">
    <script src="../../static/public/js/jquery-1.11.0.min.js"></script>

    <title>Salidas DCC</title>

</head>

<body>

<div class="container-fluid">

    {%  include "base.html" %}


    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">

            <!-- Aca colocar el contenido correspondiente -->
            <h2>Compromiso de Reemplazo</h2>
            <br/>

            <div class="row">

                <div class="col-md-6">
                    <form method="POST">  {% csrf_token %}
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Profesor a reemplazar</label>

                            <div class="col-sm-8">
                                {{ replacement.get_appliant_teacher }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Fecha de inicio</label>

                            <div class="col-sm-8">
                                **/**/**
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Fecha de término</label>

                            <div class="col-sm-8">
                                **/**/**
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Curso(s) a reemplazar</label>

                            <div class="col-sm-8">
                                <table class="table table-bordered table-hover table-condensed table-striped">
                                    <tr>
                                        <td>CC3001</td>
                                    </tr>
                                    <tr>
                                        <td>CC3201</td>
                                    </tr>
                                    <tr>
                                        <td>CC4101</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Firma digitalizada</label>

                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="" value="" checked> Usar firma anterior
                                        </label>
                                    </div>
                                    <input type="file" class="filestyle" data-input="false" data-iconName="glyphicon-inbox" data-buttonText="Buscar firma" data-buttonName="btn-success">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row form-group">
                            <div class="col-sm-12">
	  						    <button type="submit" class="btn btn-lg btn-primary" name="accept_button"> Aceptar</button>
                                <button href="#myModal" type="button" data-toggle="modal" class="btn btn-lg btn-danger">Rechazar</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-md-6">
                    Acá colocar horario
                </div>
            </div>


            <!-- fin contenido -->
        </div>
        <!-- end contenido-->
    </div>
    <!-- end row-->
</div>
<!--end container-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>¿Está seguro de rechazar la solicitud?</h3>
            </div>
            <form method="POST">  {% csrf_token %}
            <div class="modal-body col-sm-12">
                <label class="col-sm-2" align="right" style="margin-top: 3px;">Motivo:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" placeholder="Ingrese el motivo..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button href="#" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger" value="Rechazar" name="reject_button">Rechazar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script src="../../static/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/js/filestyle.js"></script>


</body>
</html>
 