<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Salidas DCC</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../static/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/public/css/docs.min.css" rel="stylesheet">
    <link href="../../static/css/estilos.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/jquery-ui.min.css" rel="stylesheet" >
    <script src="../../static/external/jquery/jquery.js"></script>
    <script src="../../static/public/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/jquery-ui.min.js"></script>
</head>
<body>

   <div class="container-fluid">
        <div class="row hidden-print">
            <div class="col-md-12">
                <ul class="nav nav-justified">
                    <!-- Aca colocar la barra de nevegacion correspondiente -->
                    <li class="active"><a href="new_application" title="">Formulario de solicitud de salidas</a></li>
                    <li><a href="teacher_calendar" title="">Calendario</a></li>
                    <li><a href="" title="">Logout</a></li>
                    <!-- fin barra de nevegacion -->
                </ul>
            </div> <!-- end nav bar-->
        </div> <!-- end row-->

        <!-- Aqui comienza la información respecto del calendario del profesor -->
        <h1>Calendario del profesor</h1>

    </div>

</body>
</html>