{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "public/css/docs.min.css" %}" rel="stylesheet">
    <link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tablesort.js" %}"> </script>
    <script type="text/javascript" src="{% static "js/dataTables.bootstrap.js" %}"> </script>
    <script src="{% static "public/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/filestyle.js" %}"> </script>
    <link href="{% static "css/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static "js/dataTable.js" %}"></script>

    <title>Salidas DCC</title>
</head>
<body>
<div class="container-fluid">

	{%  include "Navbar/navbar_teacher.html" %}

	<div class="row">
		<div class="col-md-1 col-md-offset-0">
			<table class="table table-bordered table-hover table-condensed table-striped">
				<thead>
				<tr>
					<th></th>
					<th>Situación actual</th>
				</tr>
				</thead>
				<tbody>
				<tr class="info">
					<td><strong>Días utilizados</strong></td>
					<td>{{ teacher.get_used_days }}</td>
				</tr>
				<tr>
					<td><strong>Días disponibles</strong></td>
					<td>{{ teacher.get_avaliable_days }}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-1 contenido">
			<div class="pannel panel-primary panel-body">

				<h2>Listado de solicitudes</h2>
				<br>

				<!-- For message to user -->
				{% if messages %}
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							{% for message in messages %}
								<p {% if message.tags == "success" %} class="alert alert-success text-center"{% endif %}> {{ message }} </p>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#PA" role="tab" data-toggle="tab">Pendiente Aprobación</a></li>
					<li><a href="#PDCC" role="tab" data-toggle="tab">Pendiente DCC</a></li>
					<li><a href="#PF" role="tab" data-toggle="tab">Pendiente Facultad</a></li>
					<li><a href="#Tda" role="tab" data-toggle="tab">Terminada</a></li>
					<li><a href="#Tdo" role="tab" data-toggle="tab">Todos</a></li>
				</ul>
				<br>

				<!-- Pendiente aprobacion -->
				<div class="tab-content">
					<div class="row tab-pane active" id="PA">
						<div class="form-group">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover table-condensed table-striped" id="PATable">
									<thead>
									<tr>
										<th>Nº</th>
										<th>Tipo de Comisión</th>
										<th>Fecha de Creación</th>
										<th>Fecha de Envío a Facultad</th>
										<th>Días Utilizados</th>
									</tr>
									</thead>
									<tbody>
									{% for app in apps %}
										{% if app.get_state.state == "Pendiente aprobacion" %}
											<tr>
												<td><a href="application_detail?id={{ app.id }}">{{ app.id }}</a></td>
												<td>{{ app.id_commission_type }}</td>
												<td>{{ app.creation_date.date }}</td>
												<td>{{ app.sent_date.date }}</td>
												<td>{{ app.used_days }}</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Pendiente DCC -->
					<div class="row tab-pane" id="PDCC">
						<div class="form-group">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover table-condensed table-striped" id="PDCCTable">
									<thead>
									<tr>
										<th>Nº</th>
										<th>Tipo de Comisión</th>
										<th>Fecha de Creación</th>
										<th>Fecha de Envío a Facultad</th>
										<th>Días Utilizados</th>
									</tr>
									</thead>
									<tbody>
									{% for app in apps %}
										{% if app.get_state.state == "Pendiente DCC" %}
											<tr>
												<td><a href="application_detail?id={{ app.id }}">{{ app.id }}</a></td>
												<td>{{ app.id_commission_type }}</td>
												<td>{{ app.creation_date.date }}</td>
												<td>{{ app.sent_date.date }}</td>
												<td>{{ app.used_days }}</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Pendiente Facultad -->
					<div class="row tab-pane" id="PF">
						<div class="form-group">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover table-condensed table-striped" id="PFTable">
									<thead>
									<tr>
										<th>Nº</th>
										<th>Tipo de Comisión</th>
										<th>Fecha de Creación</th>
										<th>Fecha de Envío a Facultad</th>
										<th>Días Utilizados</th>
									</tr>
									</thead>
									<tbody>
									{% for app in apps %}
										{% if app.get_state.state == "Pendiente Facultad" %}
											<tr>
												<td><a href="application_detail?id={{ app.id }}">{{ app.id }}</a></td>
												<td>{{ app.id_commission_type }}</td>
												<td>{{ app.creation_date.date }}</td>
												<td>{{ app.sent_date.date }}</td>
												<td>{{ app.used_days }}</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Terminada -->
					<div class="row tab-pane" id="Tda">
						<div class="form-group">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover table-condensed table-striped" id="TdaTable">
									<thead>
									<tr>
										<th>Nº</th>
										<th>Tipo de Comisión</th>
										<th>Fecha de Creación</th>
										<th>Fecha de Envío a Facultad</th>
										<th>Días Utilizados</th>
									</tr>
									</thead>
									<tbody>
									{% for app in apps %}
										{% if app.get_state.state == "Terminada" %}
											<tr>
												<td><a href="application_detail?id={{ app.id }}">{{ app.id }}</a></td>
												<td>{{ app.id_commission_type }}</td>
												<td>{{ app.creation_date.date }}</td>
												<td>{{ app.sent_date.date }}</td>
												<td>{{ app.used_days }}</td>
											</tr>
										{% endif %}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Todas -->
					<div class="row tab-pane" id="Tdo">
						<div class="form-group">
							<div class="col-sm-12">
								<table class="table table-bordered table-hover table-condensed table-striped" id="TdoTable">
									<thead>
									<tr>
										<th>Nº</th>
										<th>Tipo de Comisión</th>
										<th>Fecha de Creación</th>
										<th>Fecha de Envío a Facultad</th>
										<th>Estado</th>
										<th>Días Utilizados</th>
									</tr>
									</thead>
									<tbody>
									{% for app in apps %}
										<tr>
											<td><a href="application_detail?id={{ app.id }}">{{ app.id }}</a></td>
											<td>{{ app.id_commission_type }}</td>
											<td>{{ app.creation_date }}</td>
											<td>{{ app.sent_date.date }}</td>
											<td>{{ app.get_state.date }}</td>
											<td>{{ app.used_days }}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
    </div>

</div>
</body>
</html>