<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Salidas DCC</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../../static/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/public/css/docs.min.css" rel="stylesheet">
    <link href="../../static/css/estilos.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../../static/external/jquery/jquery.js"></script>
    <script src="../../static/public/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/jquery-ui.min.js"></script>
</head>
<body>

<div class="container-fluid">

    <div class="row hidden-print">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <!-- Aca colocar la barra de nevegacion correspondiente -->
                <li><a href="new_application" title="">Formulario de solicitud de salidas</a></li>
                <li><a href="teachers_applications">Mis solicitudes</a></li>
                <li><a href="replacement_requests">Solicitudes de remplazo</a></li>
                <li class="active"><a href="teacher_calendar" title="">Calendario</a></li>
                <li><a href="" title="">Logout</a></li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">

            <!-- Aca colocar el contenido correspondiente -->
            <h2>Calendario tentativo</h2>
            <br>

            <div class="row">
                <div class="col-md-6">
                    Acá colocar calendario y simbología
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-hover table-condensed table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Situación Actual</th>
                            <th>Situación Tentativa</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="info">
                            <td><strong>Días utilizados</strong></td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td><strong>Días disponibles</strong></td>
                            <td>27</td>
                            <td>26</td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-hover table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Semanas docentes utilizadas <br/> (hasta ahora)</th>
                            <th>Semanas docentes utilizadas <br/> (tentativo)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>CC3001</strong></td>
                            <td>0</td>
                            <td>0.5</td>
                        </tr>
                        <tr>
                            <td><strong>CC3201</strong></td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td><strong>CC1001</strong></td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Acá colocar horario
                </div>
            </div>

        </div>
    </div>
</div>
<script src="./public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/filestyle.js"></script>
</div>

</body>
</html>