{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "public/css/docs.min.css" %}" rel="stylesheet">
    <link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet" >
    <script src="{% static "external/jquery/jquery.js" %}"></script>
    <script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>

	<script src="{% static "public/js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/filestyle.js" %}"></script>

    <title>Salidas DCC</title>
</head>
<body>

<div class="container-fluid">

	{% include "Navbar/navbar_alejandro.html" %}

    <!-- page content -->
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">

            <div class="pannel panel-primary">
                <div class="panel-body">
                    <h2>Revisión de solicitud de {{ teacher }}</h2>
                    <br>

                    <table class="table">
                        <tr>
                            <th>Profesor solicitante</th>
                            <td>{{ teacher }}</td>
                        </tr>
                        <tr>
                            <th>Rut</th>
                            <td>{{ teacher.rut }}</td>
                        </tr>
                        <tr>
                            <th>Destino(s)</th>
                            <td>
                                <table class="table">
                                         <tr>
                                                <th> Ciudad, País </th>
                                                <th> Fecha Inicio </th>
                                                <th> Fecha Término </th>
                                                <th> Actividad a realizar</th>
                                            </tr>
                                        {% for d in destinations %}
                                            <tr>
                                                <td> {{ d.city }}, {{ d.country }}</td>
                                                <td> {{ d.start_date }}</td>
                                                <td> {{ d.end_date }}</td>
                                                <td> {{ d.motive  }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                            </td>
                        </tr>
                    </table>
                    <br>

                    <table class="table">
                        <tr>
                            <th>Montos</th>
                            <th>Cantidad</th>
                            <th>Moneda</th>
                            <th>Financiado por</th>
                        </tr>
                        {% for fin in finances %}
                        <tr>
                            <td>{{ fin.get_finance_type }}</td>
                            <td>{{ fin.amount }}</td>
                            <td>{{ fin.id_currency }}</td>
                            <td>{{ fin.financed_by }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <form method="POST"> {% csrf_token %}
                <div class="row form-group">
                    <div class="col-sm-8">
                        <br>
                        <button type="submit" class="btn btn-lg btn-primary" name="accept_button"> Aceptar </button>
                        <button href="#myModal" type="button" class="btn btn-lg btn-danger" data-toggle="modal" name="reject_button"> Rechazar</button>
                    </div>
                </div>
		    </form>
         <div class="col-sm-12" align="right">
        <div id="generateDoc" class="btn btn-success ">
            <i class="glyphicon glyphicon-file"></i>&nbsp;Exportar Documentos Adjuntos
        </div>
        </div>

    </div>
    <div class="row">

    </div>
    </div>

</div>
</body>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Observaciones</h3>
            </div>
            <form method="POST">  {% csrf_token %}
				<div class="modal-body col-sm-12">
                    <div class="col-sm-12">
						<label class="col-sm-4" align="right" style="margin-top: 3px;">Observaciones:</label>
						{{ reject_observation.obs }}
					</div>
				</div>
				<div class="modal-footer">
					<button href="#" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger" name="reject_button"> Rechazado</button>
				</div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('#generateDoc').click(function(){
            var base = '{{ host }}';
            var url=base+'getattachedfiles/?id={{ id_app }}';
            window.location.href = url;
        });
	});
</script>
</html>