{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="{% static "public/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "public/css/docs.min.css" %}" rel="stylesheet">
	<link href="{% static "css/estilos.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
	<script src="{% static "external/jquery/jquery.js" %}"></script>
	<script src="{% static "public/js/jquery-1.11.0.min.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>

	<title>Salidas DCC</title>

	<script>
		$(document).ready(function () {
			$(".active").removeClass("active");
			$("#2").addClass("active");
		});
	</script>

	<script>
		$(document).ready(function(){
			var elem = document.getElementById('calendar-div');
			elem.firstElementChild.className += " table table-bordered"
		});
	</script>

</head>
<body>
<div class="container-fluid">
    {% if user.username == "magna" %}
	    {% include "Navbar/navbar_magna.html" %}
    {% elif  user.username == "angelica" %}
         {% include "Navbar/navbar_angelica.html" %}
    {% endif %}

	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
			<div class="pannel panel-primary panel-body">

				<h2>Calendario Histórico</h2>
				<br>

				<!-- Calendario -->
				<div class="row">
					<form method="POST"> {% csrf_token %}
						<input type="hidden" name="year" value={{ year }}>
						<input type="hidden" name="month" value={{ month }}>
						<button type="submit" class="btn btn-default" name="prev">Anterior</button>
						<button type="submit" class="btn btn-default" name="next">Siguiente</button>
					</form>
					<div id="calendar-div">
						{{ calendar }}
					</div>
					<p class="text-right">Se muestra la fecha de llegada a los diferentes destinos.</p>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
</html>