<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <table>
    <tr>
        <td>Tipo de Comisi&oacute;n</td>
        <td>{{ comm_type }}</td>
    </tr>
    <tr>
        <td>Motivo</td>
        <td>{{ query.motive }}<td>
    </tr>
    <tr>
        <td>Financiamiento</td>
        <td>{{ query.financed_by }}</td>
    </tr>
    <tr>
        <td>Destino</td>
        <td>{{ dest.country }}, {{ dest.city }}</td>
    </tr>
    <tr>
        <td>Fecha de inicio</td>
        <td>{{ dest.start_date }}</td>
    </tr>
    <tr>
        <td>Fecha de regreso</td>
        <td>{{ dest.end_date }}</td>
    </tr>
    <tr>
        <td>Profesor reemplazante</td>
        <td></td>
    </tr>
    <tr>
        <td>Director a cargo</td>
        <td>{{ query.directors_name }}</td>
    </tr>
</table>


</body>
</html>