<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/public/css/docs.min.css" rel="stylesheet">
    <link href="../static/css/estilos.css" rel="stylesheet" type="text/css">
    <link href="../static/css/jquery-ui.min.css" rel="stylesheet" >
    <script src="../static/external/jquery/jquery.js"></script>
    <script src="../static/public/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>

    <title>Salidas DCC</title>
</head>
<body>

<div class="container-fluid">
    <!-- navegation bar -->
    <div class="row hidden-print">
        <div class="col-md-12">
            <ul class="nav nav-justified">
                <li class="active"><a href="list_of_applications" title="">Listado de solicitudes</a></li>
                <li><a href="" title="">Calendario</a></li>
                <li><a href="" title="">Logout</a></li>
            </ul>
        </div>
    </div>

    <!-- page content -->
    <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">

            <div class="row">
                <h1>Detalle de solicitudes</h1>
                <div class="pannel panel-primary">
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>Tipo de comisi&oacute;n</td>
                                <td>{{ comm_type }}</td>
                            </tr>
                            <tr>
                                <td>Motivo</td>
                                <td>{{ query.motive }}<td>
                            </tr>
                            <tr>
                                <td>Financiamiento</td>
                                <td>{{ query.financed_by }}</td>
                            </tr>
                            <tr>
                                <td>Destino</td>
                                <td>{{ dest.city }}, {{ dest.country }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de inicio</td>
                                <td>{{ dest.start_date }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de regreso</td>
                                <td>{{ dest.end_date }}</td>
                            </tr>
                            <tr>
                                <td>Profesor reemplazante</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Director a cargo</td>
                                <td>{{ query.directors_name }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
