<!-- navegation bar -->
<div class="row hidden-print">
    <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
        <ul class="nav nav-tabs">
            <li class="active"><a href="teachers_applications" title="">Mis solicitudes</a></li>
            <li><a href="new_application" title="">Crear nueva solicitud</a></li>
            <li><a href="replacement_list">Solicitudes de reemplazo</a></li>
            <li><a href="teacher_calendar" title="">Calendario</a></li>
            <li><a href="logout" title="">Logout</a></li>
        </ul>
    </div>
</div>