<!-- La idea es hacer un refactor, de modo que el navbar se incluya en el resto de los archivos html sin tener que repetir el código. -->
<!--    claramente esto aun no está hecho .. -->

    <div class="row hidden-print">
    <div class="col-md-12">
    	<ul class="nav nav-justified">

    		<!-- Aca colocar la barra de nevegacion correspondiente -->
			<li class="active"><a href="" title="">Formulario de solicitud de salidas</a></li>
			<li><a href="" title="">Calendario</a></li>
			<li><a href="" title="">Logout</a></li>
			<!-- fin barra de nevegacion -->

		</ul>
    </div><!-- end nav bar-->
    </div><!-- end row-->
