<!-- TODO: hacer un refactor, de modo que el nav-bar se incluya en el resto de los archivos html sin tener que repetir el código.
        Notar que el nav-bar es diferente segun el tipo de usuario. -->

<div class="row hidden-print">
    <div class="col-md-12">
    	<ul class="nav nav-justified">
			<li class="active"><a href="" title="">Formulario de solicitud de salidas</a></li>
			<li><a href="" title="">Calendario</a></li>
			<li><a href="" title="">Logout</a></li>
		</ul>
    </div>
</div>
