<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="../static/public/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/public/css/docs.min.css" rel="stylesheet">
<link href="../static/css/estilos.css" rel="stylesheet" type="text/css">
<link href="../static/css/jquery-ui.min.css" rel="stylesheet" >
<script src="../static/external/jquery/jquery.js"></script>
<script src="../static/public/js/jquery-1.11.0.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>

<title>Salidas DCC</title>

</head>

<body>

<div class="container-fluid">
    <div class="row hidden-print">
        <div class="col-md-12">
            <ul class="nav nav-justified">
                <!-- Aca colocar la barra de nevegacion correspondiente -->
                <li class="active"><a href="" title="">Formulario de solicitud de salidas</a></li>
                <li><a href="teacher_calendar" title="">Calendario</a></li>
                <li><a href="" title="">Logout</a></li>
                <!-- fin barra de nevegacion -->
            </ul>
        </div> <!-- end nav bar-->
    </div> <!-- end row-->
    
    <div class="row">
    
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
   		<!-- Aca colocar el contenido correspondiente -->

        <form action="form-horizontal" method="post" accept-charset="utf-8" class="" role="form">
            <br/>

            <h1>Formulario de solicitud de salidas</h1>
            <br/>

            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Información de viaje</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <form method="POST" action=""> {% csrf_token %}
                                            <div  class="col-sm-12">
                                                <label class="control-label col-sm-7" for="nombre">Tipo de comisión</label>
                                                <div class="col-sm-5">
                                                   {{ application.commission_type }}
                                               </div>
                                            </div>
                                            <div  class="col-sm-12">
                                                <br/>
                                                <label class="control-label col-sm-7" for="nombre">Motivo</label>
                                                <div class="col-sm-5">
                                                   {{ application.motive }}
                                               </div>
                                            </div>
                                            <div  class="col-sm-12">
                                                <br/>
                                                <label class="control-label col-sm-7" for="nombre">Financiamiento</label>
                                                <div class="col-sm-5">
                                                   {{ application.financed_by }}
                                               </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

			<div class="row">
				<div class="col-sm-8">
					<div class="panel panel-primary">
						<div class="panel-heading"><span class="glyphicon glyphicon-plane"></span> Destinos</div>
					  	<div class="panel-body">
					    	<div id="destination_form" >
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            {{ destinationFormSet.management_form }}
                                            <table>
                                                {% for destination in destinationFormSet %}
                                                <tr id="destination_id_0">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-2 control-label">Destino</label>
                                                        <div class="col-sm-5">
                                                         <select class="form-control input-sm" name="SelPais">
                                                            <option value="">Seleccione Pais</option>
                                                        </select>
                                                        {{ destination.country }}
                                                        </div>
                                                        <div class="col-sm-5">
                                                             <select class="form-control input-sm" name="SelCiudad">
                                                                <option value="">Seleccione Ciudad</option>
                                                            </select>
                                                            {{ destination.city }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br/>
                                                        <label class="control-label col-sm-4" for="nombre">Fecha de Inicio</label>
                                                        <div class="col-sm-5">
                                                        {{ destination.start_date }}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br/>
                                                        <label class="control-label col-sm-4" for="nombre">Fecha de Término</label>
                                                        <div class="col-sm-5">
                                                        {{ destination.end_date }}
                                                        </div>
                                                    </div>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div id="add_destination" class="col-sm-12" align="right">
                                        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                                        <label class="control-label">Agregar Destino</label>
                                    </div>
                                </div>
                            </div>
					  	</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->
            <br>
            <div class="row">
				<div class="col-sm-8">
					<div class="panel panel-danger">
						<div class="panel-heading"><span class="glyphicon glyphicon-user"></span>  Profesor(es) Reemplazante</div>
					  	<div class="panel-body">

					  		<!-- para cada curso -->
					    	<div class="row">
								<div class="form-group" id="academicReplacement">
									<label class="col-sm-4 control-label">Reemplazo Académico</label>
				    				<div class="col-sm-3" onClick="replacement()">
									     {{academicReplacement }}
									</div>
									<div class="col-sm-5" style="display: none" id="topeHorario">
										<p class="text-danger">*Este profesor tiene tope de horario</p>
									</div>
									<div class="col-sm-5" style="display: none" id="docenciaCompartida">
										<p class="text-info">*Existe docencia compartida</p>
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada curso -->

							<!-- para cada curso -->
					    	<div class="row">
								<div class="form-group" id="executiveReplacement">
									<label class="col-sm-4 control-label">Reemplazo Administrativo</label>
				    				<div class="col-sm-3">
									    {{ executiveReplacement }}
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada curso -->
					  	</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->
			
			<br />
			<div class="row">
				<div class="col-sm-7">
					<div class="panel panel-success">
						<div class="panel-heading"><span class="glyphicon glyphicon-file"></span> Adjuntar documentos</div>
					  	<div class="panel-body">
					  	
					  		<!-- para cada documento -->
					    	<div class="row">
								<div class="form-group">
									<div class="col-sm-1">
										<button type="button" class="close" aria-hidden="true" onClick="">&times;</button>
									</div>
				    				<div class="col-sm-11">
									    <input type="file" class="filestyle" data-buttonName="btn-success" data-buttonText="Buscar archivo">
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada documento -->
							
						
							<!-- para cada documento -->
					    	<div class="row">
								<div class="form-group">
									<div class="col-sm-1">
										<button type="button" class="close" aria-hidden="true" onClick="">&times;</button>
									</div>
				    				<div class="col-sm-11">
									    <input type="file" class="filestyle" data-buttonName="btn-success" data-buttonText="Buscar archivo">
									</div>
								</div>
							</div>
							<hr />
							<!-- fin para cada documento -->
							
							
							<div class="row">
								<div class="col-sm-4">
									<button class="btn btn-success"><span class="glyphicon glyphicon-plus"/></button>
								</div>
							</div>
					  	</div>
					</div><!-- end panel -->
				</div><!-- end col -->
			</div><!-- end row -->
			
			<br />
			<div class="row">
				<div class="form-group">
					<label class="col-sm-2 control-label">Firma digitalizada</label>
    				<div class="col-sm-5">
    					<div class="checkbox">
	                    <label>
	                      <input type="checkbox" name="" value="" checked> Usar firma anterior
	                    </label>
	                    </div>
					     <input type="file" class="filestyle" data-input="false" data-iconName="glyphicon-inbox" data-buttonText="Buscar firma" data-buttonName="btn-danger">
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="form-group">
    				<div class="col-sm-7">
    					<input type="submit" class="btn btn-lg btn-primary" value="Enviar solicitud" />
					</div>
				</div>
			</div>
			
		</form>
		
		
		<!-- fin contenido -->
    </div><!-- end contenido-->
    </div><!-- end row-->
</div><!--end container-->
<script src="../static/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/filestyle.js"> </script>
<script>
  $(function() {
    $( "#id_form-0-start_date").datepicker();
    $( "#id_form-0-end_date").datepicker();
    function replacement(){
       $("#id_teachers")[0].click(function(){ $("#")})
    }
    $('#agregar_tarea').click(function(){
        var revisiones = $('.tarea').length;
        var prefix = 'tar';
        var current = revisiones++;
        var tr = $('#emptyForm').clone(false).get(0);
        $(tr).children().each(function () {
            updateElementIndex(this, prefix, current);
            $(this).val("");
        });
        if($(tr).children('span').children('i').length==0)
            $(tr).append('<span class="help-inline"><i class="icon-remove remove icon-2x"></i></span>');
        $(tr).removeClass('hide');
        $(tr).addClass('tarea');
        $(tr).removeAttr('id');
        $('#tareas').append(tr);
        $(tr).children('span').children('i').click(function(){
            var tr = $(this).parent('span').parent('div');
            tr.hide('fade').delay(300).queue(function(){
                tr.remove();
                $(this).dequeue();
            });
             $("#id_" + prefix + "-TOTAL_FORMS").val($("#id_" + prefix + "-TOTAL_FORMS").val() - 1);
        });
        $("#id_" + prefix + "-TOTAL_FORMS").val(parseInt($("#id_" + prefix + "-TOTAL_FORMS").val()) + 1);
    });
  });
  </script>
</body>
</html>
 