<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link href="../static/public/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/public/css/docs.min.css" rel="stylesheet">
<link href="../static/css/estilos.css" rel="stylesheet" type="text/css">
<link href="../static/css/jquery-ui.min.css" rel="stylesheet" >
<script src="../static/external/jquery/jquery.js"></script>
<script src="../static/public/js/jquery-1.11.0.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>

<title>Salidas DCC</title>

</head>

<body>

<div class="container-fluid">
    <div class="row hidden-print">
        <div class="col-md-12">
            <ul class="nav nav-justified">
                <!-- Aca colocar la barra de nevegacion correspondiente -->
                <li class="active"><a href="" title="">Formulario de solicitud de salidas</a></li>
                <li><a href="teacher_calendar" title="">Calendario</a></li>
                <li><a href="" title="">Logout</a></li>
                <!-- fin barra de nevegacion -->
            </ul>
        </div> <!-- end nav bar-->
    </div> <!-- end row-->
    
    <div class="row">
    
        <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2 contenido">
   		<!-- Aca colocar el contenido correspondiente -->

{#      <form action="new_application" enctype="multipart/form-data" method="post" accept-charset="utf-8" class="" role="form">#}
            <br/>

            <h1>Formulario de solicitud de salidas</h1>
            <br/>

            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Información de viaje</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <form method="POST" action="{% url 'prueba' %}"> {% csrf_token %}
                                            <div  class="col-sm-12">
                                                <label class="control-label col-sm-7" for="nombre">Tipo de comisión</label>
                                                <div class="col-sm-5">
                                                   {{ application.as_table }}
                                                    {# {{ application.rut }} #}
                                                   {#{{ application.commission_type }}#}
                                               </div>
                                            </div>
                                            <div  class="col-sm-12">
                                                <br/>
                                                <label class="control-label col-sm-7" for="nombre">Motivo</label>
                                                <div class="col-sm-5">
                                                  {#{{ application.motive }} #}
                                               </div>
                                            </div>
                                            <div  class="col-sm-12">
                                                <br/>
                                                <label class="control-label col-sm-7" for="nombre">Financiamiento</label>
                                                <div class="col-sm-5">
                                                   {#{{ application.financed_by }} #}
                                               </div>
                                            </div>
                                                {{ destinations.management_form }}
                                                {% for destination in destinations %}
                                                        <div class="item">
                                                        {{ destination.as_p }}
                                                        <p style=""><a class="delete" href="#">Delete</a></p>
                                                    </div>
                                                {% endfor %}
                                            <div id="add_destination" class="col-sm-12" align="right">
                                                <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                                                <label class="control-label">Agregar Destino</label>
                                            </div>
                                            <input type="submit" class="btn btn-lg btn-primary" value="Enviar solicitud" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
		<!-- fin contenido -->
    </div><!-- end contenido-->
    </div><!-- end row-->
</div><!--end container-->
<script src="../static/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/filestyle.js"> </script>
<script>
  $(function() {
    $( ".datepicker").datepicker();
  });
  </script>
<script type="text/javascript">
$(document).ready(function() {
  // Code adapted from http://djangosnippets.org/snippets/1389/

  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    if (formCount > 1) {
      // Delete the item/form
      $(btn).parents('.item').remove();

      var forms = $('.item'); // Get all the forms

      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          updateElementIndex(this, prefix, i);
        });
      }

    } // End if
    else {
        alert("You have to enter at least one todo item!");
    }
    return false;
  }


  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());

    // You can only submit a maximum of 10 todo items
    if (formCount < 10) {
      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass('error');

      // Relabel/rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        if ( $(this).attr('type') == 'text' )
          $(this).val('');
      });

      // Add an event handler for the delete item/form link
      $(row).find('.delete').click(function() {
        return deleteForm(this, prefix);
      });

      // Update the total form count
      $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);

    } // End if
    else {
      alert("Sorry, you can only enter a maximum of ten items.");
    }
    return false;
  }

  // Register the click event handlers
  $("#add_destination").click(function() {
    return addForm(this, 'form');
  });

  $(".delete").click(function() {
    return deleteForm(this, 'form');
  });


});
</script>
</body>
</html>
 